## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
cityy_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
cityy_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,LightRain inches (last 24 hours),ClearSky inches (last 24 hours)
0,0,Palembang,ID,2021-09-16 16:48:17,-2.9167,104.7458,75.27,89,41,3.40,scattered clouds,0,0
1,1,Hilo,US,2021-09-16 16:48:18,19.7297,-155.0900,76.28,89,90,9.22,overcast clouds,0,0
2,2,Bredasdorp,ZA,2021-09-16 16:48:18,-34.5322,20.0403,56.52,58,90,6.91,overcast clouds,0,0
3,3,Rikitea,PF,2021-09-16 16:48:19,-23.1203,-134.9692,73.17,77,7,14.70,light rain,0,0
4,4,Hualmay,PE,2021-09-16 16:48:19,-11.0964,-77.6139,66.47,69,33,9.62,scattered clouds,0,0

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = cityy_data_df.loc[(cityy_data_df["Max Temp"] <= max_temp) & \
                                       (cityy_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,LightRain inches (last 24 hours),ClearSky inches (last 24 hours)
0,0,Palembang,ID,2021-09-16 16:48:17,-2.9167,104.7458,75.27,89,41,3.40,scattered clouds,0,0
1,1,Hilo,US,2021-09-16 16:48:18,19.7297,-155.0900,76.28,89,90,9.22,overcast clouds,0,0
7,7,Kapaa,US,2021-09-16 16:43:37,22.0752,-159.3190,77.32,80,75,13.80,broken clouds,0,0
8,8,Hithadhoo,MV,2021-09-16 16:48:21,-0.6000,73.0833,83.91,70,100,9.78,overcast clouds,0,0
10,10,Matara,LK,2021-09-16 16:48:21,5.9485,80.5353,79.48,86,99,8.66,overcast clouds,0,0
12,12,Marovoay,MG,2021-09-16 16:48:22,-16.1000,46.6333,77.14,69,29,6.13,scattered clouds,0,0
20,20,Guerrero Negro,MX,2021-09-16 16:45:26,27.9769,-114.0611,75.22,65,0,16.89,clear sky,0,0
21,21,Lorengau,PG,2021-09-16 16:43:53,-2.0226,147.2712,78.40,79,91,4.83,overcast clouds,0,0
23,23,Tabou,CI,2021-09-16 16:48:27,4.4230,-7.3528,79.20,83,77,11.07,light rain,0,0
28,28,Ahuimanu,US,2021-09-16 16:48:29,21.4447,-157.8378,78.51,77,75,5.75,light rain,0,0

In [14]:
# 4a. Determine if there are any empty rows.
cityy_data_df.isnull()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,LightRain inches (last 24 hours),ClearSky inches (last 24 hours)
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,False,False,False,False,False,False,False,False,False,False,False,False,False
846,False,False,False,False,False,False,False,False,False,False,False,False,False
847,False,False,False,False,False,False,False,False,False,False,False,False,False
848,False,False,False,False,False,False,False,False,False,False,False,False,False
849,False,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
cityy_data_df.isnull().sum()

City_ID                             0
City                                0
Country                             8
Date                                0
Lat                                 0
Lng                                 0
Max Temp                            0
Humidity                            0
Cloudiness                          0
Wind Speed                          0
Current Description                 0
LightRain inches (last 24 hours)    0
ClearSky inches (last 24 hours)     0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cityy_data_df.dropna(subset=['Country'], inplace=True)
print(cityy_data_df)

     City_ID                   City Country                 Date      Lat  \
0          0              Palembang      ID  2021-09-16 16:48:17  -2.9167
1          1                   Hilo      US  2021-09-16 16:48:18  19.7297
2          2             Bredasdorp      ZA  2021-09-16 16:48:18 -34.5322
3          3                Rikitea      PF  2021-09-16 16:48:19 -23.1203
4          4                Hualmay      PE  2021-09-16 16:48:19 -11.0964
..       ...                    ...     ...                  ...      ...
845      845                    Ola      RU  2021-09-16 16:53:40  59.5833
846      846  Conceicao Do Araguaia      BR  2021-09-16 16:53:40  -8.2578
847      847              Pouembout      NC  2021-09-16 16:53:40 -21.1333
848      848                 Mortka      RU  2021-09-16 16:53:41  59.3322
849      849             Ngaoundere      CM  2021-09-16 16:53:41   7.3167

          Lng  Max Temp  Humidity  Cloudiness  Wind Speed Current Description  \
0    104.7458     75.27        89          41        3.40    scattered clouds
1   -155.0900     76.28        89          90        9.22     overcast clouds
2     20.0403     56.52        58          90        6.91     overcast clouds
3   -134.9692     73.17        77           7       14.70          light rain
4    -77.6139     66.47        69          33        9.62    scattered clouds
..        ...       ...       ...         ...         ...                 ...
845  151.2833     47.75        80           2        4.36           clear sky
846  -49.2647     95.13        41           0        5.75           clear sky
847  164.9000     63.93        74          57        4.32       broken clouds
848   66.0214     39.04        97          99        4.94     overcast clouds
849   13.5833     68.02        90          97        3.53       moderate rain

     LightRain inches (last 24 hours)  ClearSky inches (last 24 hours)
0                                   0                                0
1                                   0                                0
2                                   0                                0
3                                   0                                0
4                                   0                                0
..                                ...                              ...
845                                 0                                0
846                                 0                                0
847                                 0                                0
848                                 0                                0
849                                 0                                0

[842 rows x 13 columns]

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = cityy_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Palembang,ID,75.27,scattered clouds,-2.9167,104.7458,
1,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,
2,Bredasdorp,ZA,56.52,overcast clouds,-34.5322,20.0403,
3,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,
4,Hualmay,PE,66.47,scattered clouds,-11.0964,-77.6139,
5,Sorland,NO,51.66,overcast clouds,67.6670,12.6934,
6,Ilulissat,GL,28.42,clear sky,69.2167,-51.1000,
7,Kapaa,US,77.32,broken clouds,22.0752,-159.3190,
8,Hithadhoo,MV,83.91,overcast clouds,-0.6000,73.0833,
9,Port Alfred,ZA,59.02,broken clouds,-33.5906,26.8910,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Palembang,ID,75.27,scattered clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
1,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Bredasdorp,ZA,56.52,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,People ThankYou
4,Hualmay,PE,66.47,scattered clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
...,...,...,...,...,...,...,...
845,Ola,RU,47.75,clear sky,59.5833,151.2833,
846,Conceicao Do Araguaia,BR,95.13,clear sky,-8.2578,-49.2647,Tarumã Tropical Hotel
847,Pouembout,NC,63.93,broken clouds,-21.1333,164.9000,Camping de Tipenga
848,Mortka,RU,39.04,overcast clouds,59.3322,66.0214,
849,Ngaoundere,CM,68.02,moderate rain,7.3167,13.5833,Hotel Mentong Palace

In [28]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
print(hotel_df)

                      City Country  Max Temp Current Description      Lat  \
0                Palembang      ID     75.27    scattered clouds  -2.9167
1                     Hilo      US     76.28     overcast clouds  19.7297
2               Bredasdorp      ZA     56.52     overcast clouds -34.5322
3                  Rikitea      PF     73.17          light rain -23.1203
4                  Hualmay      PE     66.47    scattered clouds -11.0964
..                     ...     ...       ...                 ...      ...
845                    Ola      RU     47.75           clear sky  59.5833
846  Conceicao Do Araguaia      BR     95.13           clear sky  -8.2578
847              Pouembout      NC     63.93       broken clouds -21.1333
848                 Mortka      RU     39.04     overcast clouds  59.3322
849             Ngaoundere      CM     68.02       moderate rain   7.3167

          Lng                                 Hotel Name
0    104.7458  ASTON Palembang Hotel & Conference Center
1   -155.0900                        Hilo Hawaiian Hotel
2     20.0403                   Bredasdorp Country Manor
3   -134.9692                            People ThankYou
4    -77.6139                  Hotel Villa Kitzia Huacho
..        ...                                        ...
845  151.2833
846  -49.2647                      Tarumã Tropical Hotel
847  164.9000                         Camping de Tipenga
848   66.0214
849   13.5833                       Hotel Mentong Palace

[842 rows x 7 columns]

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))