## Deliverable 3. Create a Travel Itinerary Map.

In [46]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [67]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Palembang,ID,75.27,scattered clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
1,1,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,2,Bredasdorp,ZA,56.52,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,3,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,People ThankYou
4,4,Hualmay,PE,66.47,scattered clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho

In [48]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [69]:
hotel_df = vacation_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Palembang,ID,75.27,scattered clouds,-2.9167,104.7458,
1,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,
2,Bredasdorp,ZA,56.52,overcast clouds,-34.5322,20.0403,
3,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,
4,Hualmay,PE,66.47,scattered clouds,-11.0964,-77.6139,
5,Sorland,NO,51.66,overcast clouds,67.6670,12.6934,
6,Ilulissat,GL,28.42,clear sky,69.2167,-51.1000,
7,Kapaa,US,77.32,broken clouds,22.0752,-159.3190,
8,Hithadhoo,MV,83.91,overcast clouds,-0.6000,73.0833,
9,Port Alfred,ZA,59.02,broken clouds,-33.5906,26.8910,

In [56]:
#Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [57]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Palembang,ID,75.27,scattered clouds,-2.9167,104.7458,ASTON Palembang Hotel & Conference Center
1,Hilo,US,76.28,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Bredasdorp,ZA,56.52,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,People ThankYou
4,Hualmay,PE,66.47,scattered clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
...,...,...,...,...,...,...,...
845,Ola,RU,47.75,clear sky,59.5833,151.2833,
846,Conceicao Do Araguaia,BR,95.13,clear sky,-8.2578,-49.2647,Tarumã Tropical Hotel
847,Pouembout,NC,63.93,broken clouds,-21.1333,164.9000,Camping de Tipenga
848,Mortka,RU,39.04,overcast clouds,59.3322,66.0214,
849,Ngaoundere,CM,68.02,moderate rain,7.3167,13.5833,Hotel Mentong Palace

In [58]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
print(hotel_df)

                      City Country  Max Temp Current Description      Lat  \
0                Palembang      ID     75.27    scattered clouds  -2.9167
1                     Hilo      US     76.28     overcast clouds  19.7297
2               Bredasdorp      ZA     56.52     overcast clouds -34.5322
3                  Rikitea      PF     73.17          light rain -23.1203
4                  Hualmay      PE     66.47    scattered clouds -11.0964
..                     ...     ...       ...                 ...      ...
845                    Ola      RU     47.75           clear sky  59.5833
846  Conceicao Do Araguaia      BR     95.13           clear sky  -8.2578
847              Pouembout      NC     63.93       broken clouds -21.1333
848                 Mortka      RU     39.04     overcast clouds  59.3322
849             Ngaoundere      CM     68.02       moderate rain   7.3167

          Lng                                 Hotel Name
0    104.7458  ASTON Palembang Hotel & Conference Center
1   -155.0900                        Hilo Hawaiian Hotel
2     20.0403                   Bredasdorp Country Manor
3   -134.9692                            People ThankYou
4    -77.6139                  Hotel Villa Kitzia Huacho
..        ...                                        ...
845  151.2833
846  -49.2647                      Tarumã Tropical Hotel
847  164.9000                         Camping de Tipenga
848   66.0214
849   13.5833                       Hotel Mentong Palace

[850 rows x 7 columns]

In [70]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [71]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [63]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# 4a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)




# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [120]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
Pontivy = vacation_df[vacation_df['City'].str.contains("Pontivy")]
Pontivy

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
362,366,Pontivy,FR,70.38,broken clouds,48.0,-3.0,Frairie du Divit - Chambres d'hôtes et Gîtes à...

In [121]:
Tarnos = vacation_df[vacation_df['City'].str.contains("Tarnos")]
Tarnos

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
477,481,Tarnos,FR,73.85,few clouds,43.5417,-1.4628,Le Lodge SARL

In [122]:
Quimperle = vacation_df[vacation_df['City'].str.contains("Quimperle")]
Quimperle

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
486,490,Quimperle,FR,68.99,clear sky,47.8667,-3.55,ibis Quimperlé

In [123]:
Langres= vacation_df[vacation_df['City'].str.contains("Langres")]
Langres

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
699,704,Langres,FR,68.85,broken clouds,47.8333,5.3333,Le Belvédère des Remparts

In [124]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

                
vacation_start = vacation_df.loc[vacation_df['City'] =='Pontivy']
vacation_end = vacation_df.loc[vacation_df['City'] == "Pontivy"]
vacation_stop1 =  vacation_df.loc[vacation_df['City'] == "Tarnos"]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == "Quimperle"]
vacation_stop3 =  vacation_df.loc[vacation_df['City'] == "Langres"]

In [126]:
four_cities = pd.concat([Pontivy, Tarnos, Quimperle, Langres])
four_cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
362,366,Pontivy,FR,70.38,broken clouds,48.0000,-3.0000,Frairie du Divit - Chambres d'hôtes et Gîtes à...
477,481,Tarnos,FR,73.85,few clouds,43.5417,-1.4628,Le Lodge SARL
486,490,Quimperle,FR,68.99,clear sky,47.8667,-3.5500,ibis Quimperlé
699,704,Langres,FR,68.85,broken clouds,47.8333,5.3333,Le Belvédère des Remparts

In [127]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [128]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [129]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,366,Pontivy,FR,70.38,broken clouds,48.0000,-3.0000,Frairie du Divit - Chambres d'hôtes et Gîtes à...
1,481,Tarnos,FR,73.85,few clouds,43.5417,-1.4628,Le Lodge SARL
2,490,Quimperle,FR,68.99,clear sky,47.8667,-3.5500,ibis Quimperlé
3,704,Langres,FR,68.85,broken clouds,47.8333,5.3333,Le Belvédère des Remparts

In [130]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [131]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))